page-select-language {

   .logo{

       margin-top: 45%;
   }
.btnstore{

    background-color: #ee0004;
}
.btnlanguage
{
        border-color: #ffc100;
        color: white;
}
.select-ios .select-icon .select-icon-inner{
    color: white;
}
.select-md .select-icon .select-icon-inner{
    color: white;
}

}
